@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    margin: 0;
    background-color:#080c20 ;
    color: white;
    font-family: 'Manrope', sans-serif;

 
}

.main_container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    max-width: 100%;
    position: relative;
}
p {
     opacity: 0.7;
}

.maker {
    display:flex;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding:2%;
    padding-left: 10%;
    padding-top: 3%;
   }


.header {
    width: 106%;
    margin-top: 60px;;
    display: flex;
    justify-content: space-between;
    margin-left: -80px;
 }

  .header img{
      width: 23%;
  }

  #mouse {
      width:5%
  }
.header h1 {
    color:white;
    font-weight: 1000;
    font-size:3em;
} h1 span {
color: #3ee9e5;
}
.middle {
    display: flex;
    flex-direction: column;

    width:730px;
    /* height:113; */
    align-items: center;
    
    justify-content: center;
    text-align: center;
    background-image: url('./assets/bg-footer-squiggle.svg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.middle p {
    align-items: center;
    color:white;
    opacity: 0.7;
    margin-bottom: 100px;
}

.pricing_plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pricing_plans h2 {
     color: white;
}

.pricing_plans p {
    color: white;
    opacity: 0.7;
}

.middle2 {
    width:100%;
    padding: 10%;
    box-sizing: border-box;
    display:flex;
    justify-content: space-around; 
    flex-flow: row wrap;
    margin-top: 2%;
    color: white;
}
 p {
    opacity: 0.6;
}

.middle2_div {
    display:flex;
    flex-direction: column;
   
   
    width: 255px;
    
    height: 335px;
    /* padding:4%; */
}
.middle2 div:nth-child(even){
    margin-top: 60px;
}

.illustration {
    /* display: flex; */
    justify-content: center;
    background-color: #093f68;
    max-width: 200px;
    max-height: 1000px;
    box-sizing: border-box;
    /* padding-top:50px; */
    object-fit:contain;
     padding: 50px;
     border-radius: 50px; 
     text-align: center;
} 

.pricing_plans {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 60px;
    margin-top: -60px; 
    margin: 40px 0;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
  
}

.info h2 {
    font-size: 2.5em;
}
.info h2 span {
    font-weight: 100;
    font-size: 0.6em;
    opacity: 0.7;
}
.left img {
    position: absolute;
    top: -20px;
    left: 60px;
}
.right img {
    position: absolute;
    top: -30px;
}
.left, .right {
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    width: 445px;
    position:relative;
 
   
}
.check {
    position:absolute;
    left:30px;
     margin-top: 5px; 
  
}

/* #freeicon > img {
     position: absolute;
     top: 22px;
}  */

ul {
    list-style-type: none;
}

li {
    margin: 20px 0;
}
.left {
    background-color:#093f68;
    color: white;
}
.right {
    background-color: #3ee9e5;
    color: black;
    transform: scale(1.05);
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    width: 100%;
    box-sizing: border-box;
    background-image: url('./assets/bg-footer-squiggle.svg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.input {
       display: flex;
   }

 .footer #input_container {
    display: flex;
    flex-direction: column;
 } 
.footer Input {
    outline: none;
    border: none;
    background-color: #093f68;
  
    font-size: 18px;
    padding: 20px;
    border-radius: 30px;
}

::placeholder {
    color:white;
    opacity: 0.5;
}

#error {
    visibility: hidden;
}




.footer h2 {
    color: white;
  
}
/* 
.button {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .primary {
    display: flex;
    flex-direction: column;
   height: 100px;
   width: 320px; 
   background-color:#093f68;
   border-radius: 30px;
   border:none;
   outline: none;
   cursor:pointer;
   padding:20px;
} */

.secondary {
    height:57px;
    /* width: 140px; */
    background-color:#3ee9e5 ;
    border-radius: 30px;
    border:none;
    outline: none;
    cursor:pointer;
    font-weight: bold;
    font-size: medium;
    margin-left: 10px;
    padding: 0 40px;
    margin-top: 6px;
} 



